In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=9d83c87ff0acd1b3dcdfbd9f16c68a1287f6b5fd5857abef101f86720e3d1161
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Spark program")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [5]:
df = spark.read.csv('./sample_data/Weather.csv', header=True)

In [7]:
df.printSchema()

root
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- Evaporation: string (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: string (nullable = true)
 |-- RainTomorrow: string (nullable = true)

In [9]:
df.filter(df.Rainfall > 9).show()

+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|   13.3|   15.5|    39.8|        7.2|     9.1|         NW|           54|       WNW|         W|          30|          24|         62|         56|     1005.5|     1007.0|       2|       7|   13.5|   14.1|      Yes|    2.8|         Yes|
|    8.4|   22.8|    16.2|        5.4|     7.7|          E|           31|         S|       ESE|           7|           6|         82|         32|     1024.1|     1020.7|       7|       1|   13.3|   21.7|      Yes|    0.0|          No|
|   12.8|   18.5|    25.8|        2.8|     0.6|        ESE|           28|         S|        SE|          13|          13|         91|         79|     1014.0|     1014.9|       8|       8|   14.0|   16.8|      Yes|    0.4|          No|
|   15.1|   20.4|    22.6|        2.4|     0.2|        SSE|           41|         E|         S|           6|          20|         82|         90|     1015.0|     1014.1|       8|       8|   17.0|   16.3|      Yes|    4.2|         Yes|
|   19.9|   22.0|    11.0|        4.4|     5.9|        NNW|           76|         N|       WNW|          41|          30|         92|         62|      996.5|      996.8|       8|       3|   20.6|   19.6|      Yes|   17.4|         Yes|
|    9.2|   20.4|    17.4|        7.8|    10.2|        ENE|           39|         N|         N|           9|          20|         59|         49|     1009.5|     1009.1|       1|       7|   14.9|   18.8|      Yes|    0.0|          No|
|   15.1|   28.3|    14.4|        8.8|    13.2|        NNW|           28|       NNW|        NW|           6|          13|         73|         44|     1016.8|     1013.4|       1|       5|   18.3|   27.4|      Yes|    0.0|          No|
|   15.3|   19.6|    18.8|        5.0|       0|         NE|           33|       SSE|       NNE|           9|          13|         92|         88|     1008.7|     1006.0|       8|       8|   18.0|   18.6|      Yes|   12.2|         Yes|
|   17.2|   24.7|    12.2|        1.4|     8.1|         NW|           50|        NW|       WNW|          19|          28|         80|         71|     1004.9|     1004.0|       7|       8|   19.4|   21.9|      Yes|    0.8|          No|
|   12.4|   19.9|    16.2|        5.4|     5.6|        ENE|           41|       ESE|       ESE|           7|          20|         75|         58|     1007.6|     1005.0|       7|       7|   13.6|   18.7|      Yes|    0.0|          No|
|   12.6|   18.2|    11.0|        3.2|     0.4|        ENE|           30|       SSE|       SSE|          13|          15|         81|         73|     1010.0|     1011.0|       7|       8|   16.3|   16.8|      Yes|    0.2|          No|
|    7.7|   18.4|    10.4|        5.2|      12|          S|           48|         S|         S|          24|          17|         58|         34|     1015.5|     1014.5|       5|       1|   10.6|   16.8|      Yes|    0.0|          No|
|   12.6|   20.2|    19.8|        2.6|     9.1|          W|           46|       NNW|         W|          17|          20|         76|         50|     1007.9|     1008.4|       5|       4|   15.1|   17.4|      Yes|    0.0|          No|
|    2.9|    9.5|    16.8|        1.4|     6.5|         NW|           35|        NA|        NW|           0|          15|         93|         72|     1021.6|     1019.6|       6|       6|    5.5|    7.4|      Yes|    0.0|          No|
|    2.3|   11.6|    19.2|        1.8|     7.5|        WNW|           54|       WNW|       WNW|          26|          31|         78|         56|     1006.9|     1010.3|       7|       3|    7.6|   11.2|      Yes|    0.0|          No|
|    7.8|   16.2|    17.4|        6.4|     7.9|         NW|           50|        NW|         N|          15|          22|         73|         44|     1016.7|     1017.8|       7|       1|    8.0|   14.3|      Yes|    0.0|          No|
|   11.9|   21.1|    13.2|        6.6|      NA|         NW|           41|       NNE|         N|           7|          24|         82|         61|     1019.2|     1016.7|       7|       3|   14.5|   19.4|      Yes|    0.6|          No|
+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+

In [13]:
df.filter(df.Rainfall > 9).select('MinTemp', 'MaxTemp', 'Rainfall').show()

+-------+-------+--------+
|MinTemp|MaxTemp|Rainfall|
+-------+-------+--------+
|   13.3|   15.5|    39.8|
|    8.4|   22.8|    16.2|
|   12.8|   18.5|    25.8|
|   15.1|   20.4|    22.6|
|   19.9|   22.0|    11.0|
|    9.2|   20.4|    17.4|
|   15.1|   28.3|    14.4|
|   15.3|   19.6|    18.8|
|   17.2|   24.7|    12.2|
|   12.4|   19.9|    16.2|
|   12.6|   18.2|    11.0|
|    7.7|   18.4|    10.4|
|   12.6|   20.2|    19.8|
|    2.9|    9.5|    16.8|
|    2.3|   11.6|    19.2|
|    7.8|   16.2|    17.4|
|   11.9|   21.1|    13.2|
+-------+-------+--------+

In [66]:
from pyspark.sql.types import StructType, StructField,IntegerType, FloatType, StructType,StringType
from pyspark.sql import functions as F

NewDF = df.withColumn("MinTemp",F.col("MinTemp").cast(FloatType()))\
          .withColumn("MaxTemp",F.col("MaxTemp").cast(FloatType()))\
          .withColumn("Rainfall",F.col("Rainfall").cast(FloatType()))

In [80]:
NewDF = NewDF.drop('Evaporation') #drop one column from dataframe

In [81]:
NewDF.printSchema()

root
 |-- MinTemp: float (nullable = true)
 |-- MaxTemp: float (nullable = true)
 |-- Rainfall: float (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: string (nullable = true)
 |-- RainTomorrow: string (nullable = true)

In [90]:
# List all columns in a dataframe
NewDF.columns

#drop multiple columns in a dataframe
NewDF = NewDF.drop('Evaporation')

#drop multiple columns in a dataframe
NewDF = NewDF.drop(*('Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RISK_MM',
 'RainTomorrow'))

In [91]:
NewDF.printSchema()

root
 |-- MinTemp: float (nullable = true)
 |-- MaxTemp: float (nullable = true)
 |-- Rainfall: float (nullable = true)

In [95]:
#save file to csv from dataframe, overwrite if incase exists, write Headers from dataframe
NewDF.write.csv('./sample_data/Weather_trimmed.csv', mode='overwrite', header=True)